<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    <title><%= current_page.data.title ? "#{current_page.data.title} | #{default_title_helper}" : default_title_helper %></title>
    <meta name="keywords" content="<%= default_keywords_helper %>">
    <meta name="description" content="<%= default_description_helper %>">
    <meta name="theme-color" content="#f9fafb" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

    <link rel="manifest" href="/manifest.json" />
    <link type="text/plain" rel="author" href="/humans.txt" />

    <!-- favicons -->
    <link rel="icon" href="/favicon.ico" sizes="any" /><!-- 32×32 -->
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->
    <link rel="manifest" href="/manifest.json" />

    <link rel="canonical" href="<%= full_url(current_page.url) %>" />

    <!--card-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= default_title_helper %>" />
    <meta property="og:url" content="<%= full_url(current_page.url) %>" />
    <meta property="og:site_name" content="VMail" />
    <meta property="og:image" content="/images/banner.png" />
    <meta property="og:image:alt" content="<%= default_title_helper %>" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="640" />
    <meta name="twitter:creator" content="@leopard_me" />
    <meta name="twitter:title" content="<%= default_title_helper %>" />
    <meta name="twitter:description" content="<%= default_description_helper %>" />
    <meta name="twitter:image" content="/images/banner.png" />
    <meta name="twitter:image:alt" content="<%= default_title_helper %>" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CWKXJRGZ81"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CWKXJRGZ81');
    </script>

    <%= stylesheet_pack_tag "app" %>
    <%= javascript_pack_tag "app" %>
</head>
<body>

  <%= yield %>

  <%= partial "partials/sw_notification" %>
  <%= svg_sprite_icons %>
</body>
</html>
