<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    <title><%= current_page.data.title ? "#{current_page.data.title} | #{default_title_helper}" : default_title_helper %></title>
    <meta name="keywords" content="<%= default_keywords_helper %>">
    <meta name="description" content="<%= default_description_helper %>">
    <meta name="theme-color" content="#e2dbcb" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

    <link type="text/plain" rel="author" href="/humans.txt" />

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152-precomposed.png" />
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144-precomposed.png" />
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114-precomposed.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76-precomposed.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60-precomposed.png" />
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon-precomposed.png" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicons/favicon.png" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />

    <link rel="canonical" href="<%= full_url(current_page.url) %>" />

    <%= stylesheet_pack_tag "app" %>
    <%= javascript_pack_tag "app" %>
</head>
<body>

  <div>
    <%= yield %>
  </div>

  <%= partial "partials/sw_notification" %>

  <%= svg_sprite_icons %>
</body>
</html>
