<div class="mbm">
  <%= partial 'partials/search_block' %>

  <h3 class="mbs">Контакты</h3>

  <% link_to mail_to_hex(default_email_helper), class: 'button mbs mrs', target: '_top' do %>
    <%= svg_sprite 'envelope', class: 'sidebar-button-icon' %> Почта
  <% end %>
</div>

<div class="mbl">
  <h2>Архив</h2>
  <ul class="side-nav">
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
      <li><a href="<%= blog_year_path year %>"><%= year %> (<%= articles.size %>)</a></li>
    <% end %>
  </ul>
</div>

