<div class="subscribe">
  <div class="subscribe-first"></div>
  <div class="subscribe-left">
    <% link_to default_itune_url, class: "link", title: "itunes", "aria-label" => "Subscribe by itunes" do %>
      <%= svg_sprite 'apple' %>
    <% end %>
    <% link_to full_url('/rss.xml'), class: "link", title: "rss", "aria-label" => "Subscribe by rss" do %>
      <%= svg_sprite 'rss' %>
    <% end %>
  </div>
  <div class="subscribe-right">
    <% link_to 'https://twitter.com/rwpod', class: "link", title: "twitter", "aria-label" => "Follow us at twitter" do %>
      <%= svg_sprite 'twitter' %>
    <% end %>
    <% link_to 'http://www.facebook.com/rwpod', class: "link", title: "facebook", "aria-label" => "Follow us at facebook" do %>
      <%= svg_sprite 'facebook' %>
    <% end %>
    <% link_to 'https://t.me/rwpod', class: "link", title: "telegram", "aria-label" => "Join our telegram chat" do %>
      <%= svg_sprite 'telegram' %>
    <% end %>
  </div>
</div>
