---
import '@styles/app.css'
import { getPathname } from '@utils/links'
import { DEFAULT_TITLE, DEFAULT_KEYWORDS, DEFAULT_DESCRIPTION, THEME_COLOR } from '@utils/content'
const { title } = Astro.props
const pageTitle = title ? `${title} | ${DEFAULT_TITLE}` : DEFAULT_TITLE
const canonicalURL = new URL(getPathname(Astro.url), Astro.site)
const ogImage = new URL('/images/banner.png', Astro.site)
---
<title>{pageTitle}</title>
<meta name="keywords" content={DEFAULT_KEYWORDS} />
<meta name="description" content={DEFAULT_DESCRIPTION} />
<meta name="theme-color" content={THEME_COLOR} />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
<link type="text/plain" rel="author" href="/humans.txt" />
<!-- favicons -->
<link rel="icon" href="/favicon.ico" sizes="any" /><!-- 32×32 -->
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->

<link rel="canonical" href={canonicalURL} />

<meta name="turbo-cache-control" content="no-cache" />

<!-- card -->
<meta property="og:type" content="website" />
<meta property="og:title" content={DEFAULT_TITLE} />
<meta property="og:description" content={DEFAULT_DESCRIPTION} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content="VMail" />
<meta property="og:image" content={ogImage} />
<meta property="og:image:alt" content={DEFAULT_TITLE} />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="640" />
<meta name="twitter:creator" content="@leopard_me" />
<meta name="twitter:title" content={DEFAULT_TITLE} />
<meta name="twitter:description" content={DEFAULT_DESCRIPTION} />
<meta name="twitter:image" content={ogImage} />
<meta name="twitter:image:alt" content={DEFAULT_TITLE} />
<meta name="twitter:card" content="summary_large_image" />
